h1{
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
}

#myDiv
{
	border: 30px solid #F6EDF9;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom: 0px;
	padding: 20px;
	padding-top: 0px;
	margin: 15px;
	margin-bottom: 0px;
	background-color: white;
}

#myDiv img
{
  	max-width: 100%;
  	margin: auto;
  	display: block;
}

ul{
	font-family: 'Rubik', sans-serif;
}

p{
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	color: #5D6066;
}

#idPics{
	border: 30px solid #EDEEF9;
	border-bottom: 0px;
	border-top: 0px;
	padding: 20px;
	padding-top: 0px;
	height: 100vh;
	margin-left: 15px;
	margin-right: 15px;
	background-color: white;
}

#idPics img{
	max-width: 50%;
}

.rotateimg90 {
  	-webkit-transform:rotate(90deg);
  	-moz-transform: rotate(90deg);
  	-ms-transform: rotate(90deg);
  	-o-transform: rotate(90deg);
  	transform: rotate(90deg);
}

.leftside{
	margin-left: -60px;
	float: left;
}

.rightside{
	float: right;
	margin-top: 30px;
	margin-left: 500px;
	margin-right: 0px;
}

#lastone{
	background-color: #EDF8F9;
	height: 100vh;
	margin-left: 15px;
	margin-right: 15px;
}