h1{
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
}

#myDiv
{
	padding: 20px;
	height: 100vh;
	background-color: #F6EDF9;
}

#myDiv img
{
  	max-width: 100%;
  	margin: auto;
  	display: block;
}

ul{
	font-family: 'Rubik', sans-serif;
}